body {

  color: #5A8B42;
	font-family: 'Gloria Hallelujah', cursive;
  	background-color: #fff; /* Sanity Check! */
}

h1 {
  margin-top: 50px;
  text-align: center;
  color: #5A8B42;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: left;


}
