body {
	font-size: 30px;
  	color: #5A8B42;
	font-family: 'Gloria Hallelujah', cursive;
  	background-color: #fff; /* Sanity Check! */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}

h1 {
  margin-top: 50px;
  text-align: center;
  padding-left: 100 px;
}

<<<<<<< HEAD
div.container {
    width: 100%;
=======


>>>>>>> origin/master
}

article {
    float: left;
    max-width: 400px;
 }

 img{
 	float: right;

 }
